---
layout: markdown_page
title: "📝 Category Direction - Team Planning"
description: This is the category strategy for Team Planning in GitLab; which is part of the Plan stage's Project Management group. Learn more here!
canonical_path: "/direction/plan/project_management/team_planning/"
---

This direction page was last reviewed on:
<%= partial("direction/plan/project_management/team_planning/last_updated") %>

- TOC
{:toc}

## Team Planning

|  |               |
| -------- | -------------------------------- |
| Stage    | [Plan](/direction/plan/)         |
| Group | [Project Management](/direction/plan/project_management/) |
| Maturity | [Viable](/direction/maturity/) |


### Introduction and how you can help

👋 This is the category direction for Team Planning in GitLab, which is part of the Project Management group with the Plan stage. Please reach out to the group's Product Manager, [Gabe Weaver](https://gitlab.com/gweaver) ([E-mail](mailto:gweaver@gitlab.com)), if you'd like to provide feedback or ask any questions related to this product category.

This direction is a work in progress and everyone can contribute:

- Please comment and contribute to the related [issues](https://gitlab.com/groups/gitlab-org/-/issues?scope=all&utf8=%E2%9C%93&state=opened&label_name[]=group%3A%3Aproject%20management) and [epics](https://gitlab.com/groups/gitlab-org/-/epics?scope=all&utf8=%E2%9C%93&state=opened&label_name[]=Category%3ATeam%20Planning). Sharing your feedback directly on GitLab.com is the best way to contribute to our strategy and vision.
- Please share feedback directly via email, Twitter, or [schedule a quick Zoom for us to connect](https://calendly.com/gweaver/45-minute-meeting).

### Category overview

<%= partial("/direction/plan/project_management/team_planning/overview") %>

### Strategy and themes

Team Planning's strategy is aligned to [Plan's 3 year stage themes](https://about.gitlab.com/direction/plan/#3-year-stage-themes).

### 1 year plan

#### What's next for us 

<%= partial("/direction/plan/project_management/team_planning/whats_next") %>

#### What we are currently working on

<%= partial("/direction/plan/project_management/team_planning/current_focus") %>

Our group level [issue board](https://gitlab.com/groups/gitlab-org/-/boards/1235826?&label_name[]=devops%3A%3Aplan&label_name[]=group%3A%3Aproject%20management) provides detailed insight into everything currently in flight.

#### What we recently completed

<%= partial("/direction/plan/project_management/team_planning/recent_accomplishments") %>

#### What is not planned right now

<%= partial("/direction/plan/project_management/team_planning/not_doing") %>

### Best-in-class landscape

BIC (Best In Class) is an indicator of forecated near-term market performance based on a combination of factors, including analyst views, market news, and feedback from the sales and product teams. It is critical that we understand where GitLab appears in the BIC landscape.

#### Key capabilities

This information is maintained on [this internal handbook page](https://internal-handbook.gitlab.io/handbook/product/best-in-class/plan/#how-we-reduce-lost-opportunities-to-jira)

#### Roadmap

This information is maintained on [this internal handbook page](https://internal-handbook.gitlab.io/handbook/product/best-in-class/plan/#product-priorities)

#### Top [1/2/3] Competitive Solutions

This information is maintained on [this internal handbook page](https://internal-handbook.gitlab.io/handbook/product/best-in-class/plan/#competitive-analysis-summary)


### Maturity plan

<%= partial("/direction/plan/project_management/team_planning/maturity_plan") %>

### Target audience

<%= partial("direction/plan/templates/target_audience") %>

### Jobs To Be Done 

We are currently focused on providing best-in-class solutions for the following [Jobs To Be Done (JTBD)](https://about.gitlab.com/handbook/product/ux/jobs-to-be-done/):

<%= partial("direction/jtbd-list", locals: { stage_key: "team_planning" }) %>